<section id="navSidebar" class="sidenav-content" >
    <h4>Useful Links</h4>
    <section class="nav-group collapsible">
        <input id="tabexample1" type="checkbox">
        <label for="tabexample1">User</label>
		<ul class="nav-list">
            <li><a id="home" href="index.php">Home</a></li>
            <li><a id="clear" href="index.php">Clear</a></li>
        </ul>
    </section>
    <section class="nav-group collapsible">
        <input id="temp1" type="checkbox">
        <label for="temp1">Temp 1</label>
		<ul class="nav-list">
			<li><a id="Target Types" href="index.php">Get-Temp1</a></li>
        </ul>
    </section>
    <section class="nav-group collapsible">
        <input id="temp2" type="checkbox">
        <label for="temp2">Temp 2</label>
		<ul class="nav-list">
			<li><a id="Target Types" href="index.php">Get-Temp2</a></li>
        </ul>
    </section>
</section>